/* General */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: url('https://a1.elespanol.com/metropoliabierta/2021/02/15/el-pulso-de-la-ciudad/559204104_10050969_1706x960.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h2 {
    text-align: center;
    font-weight: bold;
    color: white;
    background: #1e3a5f;
    padding: 15px 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 12px;
    text-align: left;
}

th {
    background: #416ba1;
    color: white;
    text-transform: uppercase;
}

td {
    background-color: #f9f9f9;
}

.small-table {
    width: 100%;
}

/* Estilos para mejorar la presentación de los contenedores */
.container {
    width: 80%;
    max-width: 900px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.819);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 80px; /* Espacio para que el footer no se superponga */
}
